<div class="row text-center">
	<h1 class="title-font"><strong>404 Not Found</strong></h2>
	<p>Sorry the page your looking for either has poofed, or it never existed to begin with... Imagine that!</p>
</div>