<div class="row text-center">
	<h1 class="title-font"><strong>Under Construction</strong></h1>

	<p>This page is currently under construction, and isn't available to the public yet! Check back again later to see if any progress has been made!</p>
	<p>The main purpose of the web site was to give an about me. Once these pages are also finished it will be used as a full portfolio. Thank you for your patience.</p>
	<div class="col-md-12">
		<div class="progress">
			<div class="progress-bar progress-bar-warning active progress-bar-striped" role="progressbar" aria-valuenow="{{page.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{page.progress}}%">
				Page Progress
			</div>
		</div>
	</div>
</div>