@font-face {
	font-family: 'Basic Title';
	src: url(/assets/fonts/basictitlefont.ttf);
}

@font-face {
	font-family: 'Raleway Light';
	src: url(/assets/fonts/raleway/Raleway-Light.ttf);
}

@font-face {
	font-family: 'Raleway';
	src: url(/assets/fonts/raleway/Raleway-Regular.ttf);
}

//Theme Variables
$theme: "default";
$sprite-brand-path: "/assets/images/sprite-brand.png";
$img-path: "/assets/images";
$font: 'Raleway', Arial, sans-serif;