<div class="mt row">
	<div class="image-container">
		<img class="img-circle" src="/assets/imgs/me.jpg" />
	</div>
	<div class="text">
		<h1 class="title-font">Dustin Hershman</h1>
		<div class="col-md-4">
				<p>Full Stack Web Developer</p>
				<p>Social:
				<span class="social-links">
					<a href="https://twitter.com/SirDugs"><i class="fa fa-twitter-square"></i></a>
					<a href="https://www.linkedin.com/in/dustin-hershman-938953101"><i class="fa fa-linkedin-square"></i></a>
				</span></p>
				<p>Email: dhershman@echotechstudio.com</p>
				<p>Contact: <a href="mailto:dustinh17@gmail.com?Subject=EchoTech%20Contact" target="_top" title="Contact Me"><i class="fa fa-envelope-square"></i></a>
		</div>
		<div class="col-md-12">
			<p><strong>I have been working in the web development field for around 2 and a half years now, trying to specialize in the latest and most secure technologies. I work in Node.js because I feel it provides an excellent web app environment and is extremely easy to setup and use for everyone. I specialize in building web applications and web sites from the ground up for superb customization to meet a users needs. I've worked in the field of SAAS (Software as a Service) as well as building in house applications for company use.</strong></p>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<h2 class="title-font">Back End</h2>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						Node.js
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						Hapi Framework
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						JSON Web Tokens
					</div>
				</div>
				<h2 class="title-font">Database</h2>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						RethinkDB ReQL
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
						MongoDB
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="title-font">Front End</h2>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						JavaScript &amp; ES6
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						jQuery
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						Lodash &amp; Underscore
					</div>
				</div>
				<h2 class="title-font">Design</h2>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
							CSS3
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							Sass &amp; Less
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
							Bootstrap
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:75%">
							Responsive Design
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
