.about {
    .image-container img {
        float: left;
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .title-font {
        font-weight: bold;
    }

    .progress {
    	.progress-bar {
    		color: $comp;
    		font-weight: 700;
    	}
    }
}
