#demoContent {
    .row {
        text-align: center;
        margin-bottom: 15px;
        .dropdown-menu {
        	left: 50%;
        	right: auto;
        	text-align: center;
        	transform: translate(-50%, 0);
        }
        table {
        	margin: auto;
			background-color: $main;
			font-weight: bold;
			border-color: $tint;
			tr {
					border-color: $tint;
				td {
					border-color: $tint;
				}
			}
			th {
				background-color: $comp;
				text-align: center;
				color: $main;
			}
        }
    }
}
