<div id="demoContent">
        <div class="row">
                <div class="col-md-12">
                        <h1>Welcome to the Playground!</h1>
                        <p>First, start by selecting the type of item you want to play with</p>
                        <a class="btn btn-1 btn-1c dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <strong>Applications<span class="caret"></span></strong></a>
                        <ul class="dropdown-menu">
                                <li><a href="?app=modules"><strong>Modules</strong></a></li>
                                <li><a href="?app=apps"><strong>Web Apps</strong></a></li>
                                <li><a href="?app=sites"><strong>Web Sites</strong></a></li>
                                <li><a href="?app=software"><strong>Software</strong></a></li>
                        </ul>
                </div>
        </div>
        <div id="appContent" class="row hidden">
        	<span id="loader"><img src=""></span>
        	<div id="appDemo" class="row"></div>
        </div>
</div>
