<div class="md-modal md-effect" id="modal-1">
	<div class="md-content">
		<h3>Contact</h3>
		<div class="md-contact">
			<form id="contactForm" class="content-center">
				<div class="form-group">
					<div class="col-md-6">
						<label>Subject</label>
						<input type="text" name="subject" />
					</div>
					<div class="col-md-6">
						<label>Email</label>
						<input type="text" name="from" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label>Comment</label><br />
						<textarea name="text" rows="4" cols="50"></textarea>
					</div>
				</div>
			</form>
				<div class="md-btnGroup">
					<button  id="sendBtn" class="btn btn-1 btn-1e">Send</button>
					<button id="closeBtn" class="md-close btn btn-1 btn-1e">Close</button>
				</div>
		</div>
	</div>
</div>
