<div class="footer row">
	<div class="divider"></div>
		<div class="col-md-6">
		<p class="credit">&copy; Copyright of <a class="link-effect" href="http://echotechstudio.com" data-hover="EchoTech Studio">EchoTech Studio</a> 2016</p>
		</div>
		<div class="col-md-6">
			<a href="https://twitter.com/SirDugs" title="Twitter"><i class="fa fa-twitter-square"></i></a>
			<a href="https://www.linkedin.com/in/dustin-hershman-938953101" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
			<a href="https://bitbucket.org/dhershman" title="BitBucket"><i class="fa fa-bitbucket-square"></i></a>
			<a href="mailto:dustinh17@gmail.com?Subject=EchoTech%20Contact" target="_top" title="Contact Me"><i class="fa fa-envelope-square"></i></a>
		</div>
</div>
