<div class="navigation mt row">
        <div class="col-xs-4 header-logo pad-20-20-10-20">
                <span class="content-center">
                        <a href="/home"><img src="/assets/imgs/logo.png" /></a>
                </span>
        </div>
        <div id="defaultMenu" class="col-md-8 mt">
                <ul class="nav nav-pills sky--nav">
                        <li role="presentation"><a class="btn btn-1 btn-1e" href="/home"><strong>Home</strong></a></li>
                        <li role="presentation"><a class="btn btn-1 btn-1e" href="/about"><strong>About</strong></a></li>
                        <li role="presentation"><a class="btn btn-1 btn-1e" href="/designs"><strong>Designs</strong></a></li>
                        <li role="presentation"><a class="btn btn-1 btn-1e" href="/projects" disabled><strong>Projects</strong></a></li>
                        <li role="presentation"><a class="btn btn-1 btn-1e" href="/demo"><strong>Demo</strong></a></li>
                </ul>
        </div>
        <div id="responsiveMenu" class="col-xs-3 responsiveMargin pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="fa fa-bars"></i><span class="caret"></span></strong></a>
                <ul class="dropdown-menu">
                        <li><a href="/home"><strong>Home</strong></a></li>
                        <li><a href="/about"><strong>About</strong></a></li>
                        <li><a href="/designs"><strong>Designs</strong></a></li>
                        <li><a href="/projects" disabled><strong>Projects</strong></a></li>
                        <li><a href="/demo" disabled><strong>Demo</strong></a></li>
                </ul>
        </div>
</div>
<div class="divider row"></div>
