<div id="designsMain" class="designs-container row"></div>

<div class="md-modal md-effect" id="modal-test">
        <div class="md-content">
                <h3>Test Modal</h3>
                <div class="md-contact">
                        <p>Modal Content</p>
                        <button class="btn btn-1 btn-1c">Modal Button</button>
                        <button class="md-close btn btn-1 btn-1c">Close</button>
                </div>
        </div>
</div>
<div class="md-modal md-effect-1" id="modal-test-2">
        <div class="md-content">
                <h3>Test Modal</h3>
                <div class="md-contact">
                        <p>Modal Content</p>
                        <button class="btn btn-1 btn-1c">Modal Button</button>
                        <button class="md-close btn btn-1 btn-1c">Close</button>
                </div>
        </div>
</div>
<div class="md-modal md-effect-2" id="modal-test-3">
        <div class="md-content">
                <h3>Test Modal</h3>
                <div class="md-contact">
                        <p>Modal Content</p>
                        <button class="btn btn-1 btn-1c">Modal Button</button>
                        <button class="md-close btn btn-1 btn-1c">Close</button>
                </div>
        </div>
</div>
