.panel-body {
	background-color: $mercury;
}

.affix {
	position: fixed;
	margin: 30px 0;
}

.color--card {
   font-family: courier;
   margin-bottom: 1em;
   border-radius: 3px;
   padding: 1em;
   color: #fff;
}

.section--heading {
   font-size: 1.71428571428571em;
   margin-top: 11px;
   font-weight: 500;
   color: #fff;
}

.sidebar--list {
   font-size: $font_16;
   list-style: none;
   padding-left: 0;
   .sidebar--item {
	    margin-bottom: .5em;
	    white-space: nowrap;
	    border-radius: 50px;
	}
}

.fill-main {
	color: $gray-darker;
    background-color: $main;
}

.fill-comp {
    background-color: $comp;
}
.fill-accent {
    background-color: $accent;
}
.fill-tint {
    background-color: $tint;
}
.fill-secondary {
    background-color: $secondary;
}
.fill-success {
	background-color: $success-color;
}
.fill-error {
	background-color: $error-color;
}
.fill-warning {
	background-color: $warning-color
}

.color-error {
  color: $error-color;
}
.color-warning {
  color: $warning-color;
}
.color-success {
  color: $success-color;
}
.color-info {
  color: $color_astral_approx;
}
.color-mute {
  color: $gray-status;
}