.header {
    padding: $base-unit;
    margin-bottom: 0;
    z-index: 1;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
    div > .btn-1e {
        &:after {
            width: 105%;
        }
        &:hover {
            color: $white;
            &:after {
                height: 150%;
                opacity: 1;
            }
        }
    }
}

@media screen and(max-width: 992px) {
    .responsiveMargin {
        padding-left: 50px;
        margin-top: 50px;
    }
    .navigation {
        #defaultMenu {
            display: none;
        }
        #responsiveMenu {
            display: inline-block;
        }
        .dropdown-menu {
            li {
                a {
                    text-align: center;
                    font-size: $font_22;
                    padding: 20px;
                }
            }
        }
    }
}

@media screen and(min-width: 992px) {
    .navigation {
        #defaultMenu {
            display: inline-block;
        }
        #responsiveMenu {
            display: none;
        }
    }
}

.navigation {
    background-color: $secondary;
    a {
        i {
            font-size: $font_title + 4;
        }
    }
}

.nav-pills.sky--nav {
    margin-top: 15px;
    // Active state
    &.active > a {
        &,
        &:hover,
        &:focus {
            background-color: $accent;
        }
    }
}

.section {
    z-index: 1;
    padding: $base-unit 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: $black_10;
    border-top: $base-unit-5 solid $accent;
}

.section-breadcrumbs {
    margin-bottom: $base-unit-10;
    > div > .accountBtn {
        margin: 0;
    }
    > ol {
        background: none;
        font-size: 1.5em;
        &.breadcrumb {
            margin: 0;
            padding: 0 $base-unit 0 $base-unit;
        }
        > li > a {
            color: $accent;
        }
        > li.active {
            color: $concrete;
        }
    }
    .dropdown-menu {
        z-index: 1;
    }
}

.user-info {
    display: inline-block;
    .service-wrapper {
        padding: $base-unit-10 $base-unit-5;
    }
}

.profileImg {
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}
