body {
	padding-bottom: $base-unit-20;
	background-color: $main;
	background-image: $background-image;
	font-family: $font;
}
.marketing {
	padding-right: $base-unit;
	padding-left: $base-unit;
	margin: 0;
	p + h4 {
		margin-top: $base-unit-25 + 3;
	}
}

@media screen and(min-width: 768px) {
	.header {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: $base-unit-30;
	}
	.marketing {
		padding-right: 0;
		padding-left: 0;
	}
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	.jumbotron {
		border-bottom: 0;
	}
}
.container-narrow > hr {
	margin: $base-unit-30 0;
}

#upload-input {
	display: none;
}
