.panel-accent {
	border-color: $accent;
	box-shadow: 0 0 3px $gray_darker;
	color: 0 0 3px $concrete;
	> .panel-heading {
		border-color: $accent;
		color: $white;
		background-color: $accent;
	}
}
.panel-comp {
	border-color: $comp;
	box-shadow: 0 0 3px $gray_darker;
	color: 0 0 3px $concrete;
	> .panel-heading {
		border-color: $comp;
		color: $white;
		background-color: $comp;
	}
	.panel-body {
		padding: 15px;
	}
}
.service-wrapper {
	@include border-radius
	background-color: $mercury;
	margin: 10px 0 10px 0;
	text-align: center;
	padding: 30px 20px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 3px $gray_darker;
	color: 0 0 3px $white_20;
	.corner-header {
		margin: 10px 15px;
	}
	.btn {
		margin-right: 15px;
	}
	&.normalAlign {
		text-align: initial;
	}
}

form {
	.btn {
		margin-top: 20px;
	}
}