//Layout Styles
//----------------------

.title-font {
	font-family: $base-font;
	font-weight: 700;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.hidden {
	display: none;
}

//Padding Utilities
.pad-bottom-5 {
	padding-bottom: 5px;
}

.pad-top-15 {
	padding-top: 15px;
}

.pad-10 {
	padding: 10px;
}

.pad-20-20-10-20 {
	padding: 20px 20px 10px 20px;
}

//End Padding Utils//

.mlz {
	margin-left: 0;
}

.mrz {
	margin-right: 0;
}

.mtz {
	margin-top: 0;
}

.mbz {
	margin-bottom: 0;
}

.mr {
	margin-right: 1em;
}

.ml {
	margin-left: 1em;
}

.mb {
	margin-bottom: 1em;
}

.mt {
	margin-top: 1em;
}

.mtop30 {
	margin-top: 30px;
}

.mautoLeft {
	margin-left: auto;
}

.mtopVersion {
	margin-top: 24px;
}

.mright15 {
	margin-right: 15px;
}

.huge {
	font-size: 50px;
	line-height: normal;
	font-size: 40px;
}

.small {
	font-size: $font_14;
	line-height: normal;
}

.xsmall {
	font-size: $font_12;
	margin-top: 2px;
}

.gscale {
	color: rgb(150, 150, 150);
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block{
	display: inline-block;
}

.text-center {
	text-align: center;
}

.content-center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.width-50 {
	width: 50%;
}

.btn-row {
	margin-bottom: 30px;
}

.clip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.divider {
	border-top: 5px solid $comp;
}

//Color Styles
//-------------------------------
.gray-box {
	background: $concrete;
	padding: 30px 0;
	margin-bottom: 15px;
}

// Alerts
.alert-muted {
   color: $gray-status;
   background-color: $gray-light;
}