.footer {
	background-color: $secondary;
	font-weight: 700;
	p {
		text-align: right;
		margin: 0;
		vertical-align: middle;
		padding-top: 5px;
	}
	.col-md-6 {
		padding: 15px;
	}
	i {
		font-size: $font_title;
	}
}

@media screen and(max-width: 992px) {
    .footer {
    	text-align: center;
    	p {
    		text-align: center;
    	}
    	a {
    		i {
    			font-size: $font_title + 12;
    		}
    	}
    }
}