<aside id="navMenu" class="col-xs-3">
        <div class="affix panel panel-accent">
                <div class="panel-heading">
                        <h2 class="section--heading">Navigation</h2>
                </div>
                <div class="panel-body">
                        <nav class="sidebar--nav">
                                <ul class="sidebar--list">
                                        <li class="sidebar--item"> <a class="link-effect" href="#colors" data-hover="Colors">Colors</a> </li>
                                        <li class="sidebar--item"><a class="link-effect" href="#typography" data-hover="Typography">Typography</a></li>
                                        <li class="sidebar--item"><a class="link-effect" href="#messages" data-hover="Messages">Messages</a></li>
                                        <li class="sidebar--item"><a class="link-effect" href="#buttons" data-hover="Buttons & Links">Buttons &amp; Links</a></li>
                                        <li class="sidebar--item"><a class="link-effect" href="#modals" data-hover="Modals">Modals</a></li>
                                        <li class="sidebar--item"><a class="link-effect" href="#gallery" data-hover="Gallery">Gallery</a></li>
                                </ul>
                        </nav>
                </div>
        </div>
</aside>
<div class="col-xs-9">
        <h1 class="title-font">Design Examples</h1> {{!-- COLOR PANEL --}}
        <section id="colors">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Colors</h2>
                        </div>
                        <div class="panel-body">
                                <h3 class="title-font ">Primary Colors</h3>
                                <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-main">
                                                        <p>$main</p>
                                                        <p>#93B5AE</p>
                                                        <p>rgb(215, 232, 212)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-comp">
                                                        <p>$comp</p>
                                                        <p>#823139</p>
                                                        <p>rgb(130, 49, 57)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-accent">
                                                        <p>$accent</p>
                                                        <p>#636E48</p>
                                                        <p>rgb(99, 110, 72)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-tint">
                                                        <p>$tint</p>
                                                        <p>#AD8E85</p>
                                                        <p>rgb(173, 142, 133)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-secondary">
                                                        <p>$secondary</p>
                                                        <p>#93B5AE</p>
                                                        <p>rgb(147, 181, 174)</p>
                                                </div>
                                        </div>
                                </div>
                                <hr>
                                <h3 class="title-font">State Colors</h3>
                                <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-success">
                                                        <p>$success-color</p>
                                                        <p>#3e9817</p>
                                                        <p>rgb(215, 232, 212)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-error">
                                                        <p>$error-color</p>
                                                        <p>#b3282d</p>
                                                        <p>rgb(215, 232, 212)</p>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                                <div class="color--card fill fill-warning">
                                                        <p>$warning-color</p>
                                                        <p>#f0ad4e</p>
                                                        <p>rgb(215, 232, 212)</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        {{!-- END COLOR PANEL --}} {{!-- TYPOGRAPHY --}}
        <section id="typography">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Typography</h2>
                        </div>
                        <div class="panel-body">
                                <h3 class="title-font">Headlines</h3>
                                <h1 class="title-font">h1 Lorem Ipsum</h1>
                                <h2 class="title-font">h2 Lorem Ipsum</h2>
                                <h3 class="title-font">h3 Lorem Ipsum</h3>
                                <h4 class="title-font">h4 Lorem Ipsum</h4>
                                <h5 class="title-font">h5 Lorem Ipsum</h5>
                                <small>*H6 omitted to reduce excessive heirarchy.</small>
                                <hr>
                                <h2>Contextual Copy</h2>
                                <h4 class="color-error"><strong>Error</strong></h4>
                                <p class="color-error">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <hr>
                                <h4 class="color-success"><strong>Success</strong></h4>
                                <p class="color-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <hr>
                                <h4 class="color-warning"><strong>Warning</strong></h4>
                                <p class="color-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <hr>
                                <h4 class="color-info"><strong>Info</strong></h4>
                                <p class="color-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <hr>
                                <h4 class="color-mute"><strong>Muted</strong></h4>
                                <p class="color-mute">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                </div>
        </section>
        {{!-- END TYPOGRAPHY --}} {{!-- MESSAGES --}}
        <section id="messages">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Stateful Messages</h2>
                        </div>
                        <div class="panel-body">
                                <h3>Error</h3>
                                <div class="alert alert-danger"><strong>Error</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quas porro quis expedita asperiores incidunt similique sit atque alias quia officia dolor qui, excepturi sed numquam, earum nisi eligendi. Nisi.</div>
                                <hr>
                                <h3>Success</h3>
                                <div class="alert alert-success"><strong>Success</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quas porro quis expedita asperiores incidunt similique sit atque alias quia officia dolor qui, excepturi sed numquam, earum nisi eligendi. Nisi.</div>
                                <hr>
                                <h3>Warning</h3>
                                <div class="alert alert-warning"><strong>Warning</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quas porro quis expedita asperiores incidunt similique sit atque alias quia officia dolor qui, excepturi sed numquam, earum nisi eligendi. Nisi.</div>
                                <hr>
                                <h3>Info</h3>
                                <div class="alert alert-info"><strong>Info</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quas porro quis expedita asperiores incidunt similique sit atque alias quia officia dolor qui, excepturi sed numquam, earum nisi eligendi. Nisi.</div>
                                <hr>
                                <h3>Muted</h3>
                                <div class="alert alert-muted"><strong>Muted</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quas porro quis expedita asperiores incidunt similique sit atque alias quia officia dolor qui, excepturi sed numquam, earum nisi eligendi. Nisi.</div>
                                <hr>
                        </div>
                </div>
        </section>
        {{!-- END MESSAGES --}} {{!-- BUTTONS --}}
        <section id="buttons">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Buttons &amp; Links</h2>
                        </div>
                        <div class="panel-body">
                                <h4>Inline Link</h4>
                                <p>Lorem ipsum dolor sit amet, <a class="link-effect" href="#" data-hover="link"><strong>link</strong></a> consectetur adipisicing elit</p>
                                <hr>
                                <h4>Default</h4>
                                <button class="btn btn-1 btn-1e">Style 1</button>
                                <button class="btn btn-1 btn-1c">Style 2</button>
                                <hr>
                                <h4>Disabled</h4>
                                <button class="btn btn-1 btn-1e" disabled>Disabled 1</button>
                                <button class="btn btn-1 btn-1c" disabled>Disabled 2</button>
                        </div>
                </div>
        </section>
        {{!-- END BUTTONS --}} {{!-- MODALS --}}
        <section id="modals">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Modals</h2>
                        </div>
                        <div class="panel-body">
                                <h4>Animated Modals</h4>
                                <button class="md-trigger btn btn-1 btn-1c" data-modal="modal-test">Slide In</button>
                                <button class="md-trigger btn btn-1 btn-1c" data-modal="modal-test-2">Fade In &amp; Scale</button>
                                <button class="md-trigger btn btn-1 btn-1c" data-modal="modal-test-3">Whole Page</button>
                        </div>
                </div>
        </section>
        {{!-- END MODALS --}}
        <section id="gallery">
                <div class="panel panel-comp">
                        <div class="panel-heading">
                                <h2 class="section--heading">Gallery Tools</h2>
                        </div>
                        <div class="panel-body">
                                <h2>There's quite a few different style gallery animations I have constructed, Click the button below to see them all</h2>
                                <button class="btn btn-1 btn-1c" id="switchGallery">Switch To Gallery</button>
                        </div>
                </div>
        </section>
</div>
