<div class="col-xs-12">
        <button class="btn btn-1 btn-1c" id="switchExamples">Go Back</button>
        <div class="panel panel-comp">
                <div class="panel-heading">
                        <h2 class="section--heading">Gallery</h2>
                </div>
                <div class="panel-body">
                        <div class="row">
                                <div class="grid">
                                <div class="col-xs-6"><h4>Circle Hover</h4></div><div class="col-xs-6"><h4>Slide Right Hover</h4></div>
                                        <figure class="effect-img-1">
                                                <img src="/assets/imgs/successhounds.jpg" alt="Tester Image" />
                                                <figcaption>
                                                        <h2>Header<span> Bold</span></h2>
                                                        <p>Small Description</p>
                                                        <a href="#"></a>
                                                </figcaption>
                                        </figure>
                                        <figure class="effect-img-2">
                                                <img src="/assets/imgs/successhounds.jpg" alt="Tester Image" />
                                                <figcaption>
                                                        <h2>Header<span> Bold</span></h2>
                                                        <p>Small Description</p>
                                                        <a href="#"></a>
                                                </figcaption>
                                        </figure>
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                                <div class="grid">
                                <div class="col-xs-6"><h4>Slide Up Hover</h4></div><div class="col-xs-6"><h4>Inner Box Hover</h4></div>
                                        <figure class="effect-img-3">
                                                <img src="/assets/imgs/successhounds.jpg" alt="Tester Image" />
                                                <figcaption>
                                                        <h2>Header<span> Bold</span></h2>
                                                        <p>Small Description</p>
                                                        <a href="#"></a>
                                                </figcaption>
                                        </figure>
                                        <figure class="effect-img-4">
                                                <img src="/assets/imgs/successhounds.jpg" alt="Tester Image" />
                                                <figcaption>
                                                        <h2>Header<span> Bold</span></h2>
                                                        <p>Small Description</p>
                                                        <a href="#"></a>
                                                </figcaption>
                                        </figure>
                                </div>
                        </div>
                </div>
        </div>
</div>
