<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<link rel="shortcut icon" href="/assets/imgs/favicon.ico" />
	<link rel="stylesheet" href="/assets/css/vendor/bootstrap/bootstrap.min.css" media="all">
	<link rel="stylesheet" href="{{css.theme}}.css" media="all">
	{{#if css.page}}
	<link href="/assets/css/{{css.page}}.css" rel="stylesheet" />
	{{/if}}

</head>
<body id="{{page.body}}" class="{{page.body}}">
	<main class="container">
		{{> nav}}
		{{{content}}}
		<div class="md-overlay"></div>
		{{>footer}}
	</main>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	{{#if js.manifest}}
		<script src="{{js.manifest}}"></script>
	{{/if}}
	{{#if js.vendor}}
		<script src="{{js.vendor}}"></script>
	{{/if}}
	{{#if page.commons}}
		<script src="{{page.commons}}"></script>
	{{/if}}
	{{#if js.page}}
		<script src="{{js.page}}"></script>
	{{/if}}

</body>
</html>
