<div id="moduleNav">
	<div class="col-md-2">
		<a href=""></a>
	</div>
</div>
<div id="moduleContent" class="col-md-12">
{{#if filterhandler}}
	<form class="form-inline">
		<div class="form-group">
			<label>Search</label>
			<input id="searchBox" type="text" class="form-control" placeholder="Search Term">
		</div>
		<div class="checkbox">
			<label>
				<input id="descendingCheck" type="checkbox"> Descending
			</label>
		</div>
		<button id="searchBtn" class="btn btn-1 btn-1c">Search</button>
	</form>
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th class="sort" data-type="name">Name</th>
			<th class="sort" data-type="level">Level</th>
			<th class="sort" data-type="joinDate">Join Date</th>
		</tr>
		{{#each data}}
		<tr>
			<td>{{name}}</td>
			<td>{{level}}</td>
			<td>{{joinDate}}</td>
		</tr>
		{{/each}}
	</table>
	{{/if}}
</div>