<div class="home-container row">
	<div class="row">
		<div class="text-center width-50 center">
			<h1 class="title-font"><strong>EchoTech Studio</strong></h1>
			<p><strong>This is just a small little name I came up with because my dogs name is Echo. My name is Dustin Hershman, and I am a full stack web developer offering services in multiple areas and several specialties which you can find more about by clicking the circle below.</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
	         <a href="/about"><img class="img-circle" src="/assets/imgs/nodejs-icon.jpg" alt="Generic placeholder image" width="140" height="140"></a>
	         <h2 class="title-font"><strong>Specialties</strong></h2>
	         <p><strong>I specialize in web app development, using <a class="link-effect" href="https://nodejs.org/en/" data-hover="Node.js">Node.js</a> for functional and secure design.</strong></p>
		</div>
		<div class="col-md-4">
			<a href="/projects"><img class="img-circle" src="/assets/imgs/projects-icon.png" alt="Generic placeholder image" width="140" height="140"></a>
	         <h2 class="title-font"><strong>Projects</strong></h2>
	         <p><strong>Put some info on current projects and a link to a gallery or something here.</strong></p>
		</div>
		<div class="col-md-4">
			<a href="/playground"><img class="img-circle" src="/assets/imgs/playground-icon.png" alt="Generic placeholder image" width="140" height="140"></a>
	         <h2 class="title-font"><strong>Playground</strong></h2>
	         <p><strong>Play around with some of the apps and designs I built live in a demo system</strong></p>
		</div>
	</div>
</div>
